@import "styles/mixins";

/*.location {
    display: flex;
    align-items: center;
    margin-left: 12px;
    max-width: 200px;
    cursor: pointer;
    background-color: var(--white);
    border-radius: 14px;
    padding: 10px;

    @include size-laptop {
        max-width: 250px;
        // margin-left: 30px;
    }

    @include size-tablet {
        position: absolute;
        left: 15px;
        right: 15px;
        bottom: 15px;
        margin-left: 0;
        max-width: none;
        overflow: hidden;
        justify-content: center;
    }
}

.icon {
    flex-shrink: 0;
    height: 20px;
    width: 20px;
}

.label {
    display: flex;
    flex-shrink: 0;
    margin-left: 12px;
    line-height: 20px;
    white-space: nowrap;
    cursor: pointer;
    max-width: 100%;
    flex-shrink: 1;
    overflow: hidden;
}

.notSelected {
    color: var(--primary);
    overflow: hidden;
    text-overflow: ellipsis;
}

.orderType {
    color: var(--primary);
    margin-right: 5px;
    font-size: var(--font-small);

    @include size-tablet {
        display: none;
    }
}

.address {
    color: var(--brown-dark);
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--font-small);
}*/
