@import "styles/mixins";

.root {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.input {
    width: 100%;
    height: 60px;
    padding: 0 15px;
    border-radius: 14px;
    //border: 1px solid #292929;dark theme
    border: 1px solid #E8DDDB;
    //background-color: #151515;dark theme
    background-color: #FFF;
    //color: var(--white);dark theme
    color: #232323;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    transition: .3s linear all;

    &:hover,
    &:focus {
        border-color: #B6ABA9;
    }
    @include size-phone-large {
        font-size: 14px;
    }
}

.button {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    transition: .3s linear all;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;

    &:hover {
        background-color: var(--primary-light);
    }
}
