.loader {
    position: relative;
    color: var(--primary);
    font-size: 10px;
    transform: translateY(-16px);
    animation-delay: -.16s;
}

.whiteDots {
    color: var(--white);
}

.dot {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1em;
    height: 1em;
    background-color: transparent;
    border-radius: 50%;
    animation: loader-animation 1.8s infinite ease-in-out;
    animation-fill-mode: both;

    &:first-child {
        left: -2em;
        animation-delay: -.32s;
    }

    &:last-child {
        left: 2em;
    }
}

@keyframes loader-animation {

    0%, 80%, 100% {
        box-shadow: 0 1em 0 -1.3em currentColor;
    }

    40% {
        box-shadow: 0 1em 0 0 currentColor;
    }
}
