@import "styles/mixins";


.container {
    display: flex;
    flex-direction: column;
    max-width: var(--container-width);

    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 auto;

    margin-top: 100px;
    margin-bottom: 100px;

    @include size-tablet {
        margin-top: 20px;
        margin-bottom: 20px;
    }

}

.item {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    align-items: center;

    @include size-tablet {
        flex-direction: column;
    }

}


.text {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding-left: 40px;
    padding-right: 80px;

    @include size-tablet {
        padding-right: 0;
        padding-left: 15px;
        flex-basis: content;
    }
}

.header {
    font-family: var( --font-druk-wide-cy);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--dark);
    white-space: pre;

    @include size-tablet {
        font-size: 24px;
    }
}

.header::first-line {
    color: var(--primary);
}

.mainText {
    font-style: var(--font-gotham);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: var(--dark-light);
    padding-top: 20px;

    @include size-tablet {
        font-size: 14px;
    }
}

.image {
    padding-left: 20px;
    position: relative;
    max-width: 610px;
    max-height: 334px;
    width: 610px;
    height: 334px;
    border-radius: 40px;

    @include size-tablet {
        max-height: 200px;
        max-width: 90%;
        flex-basis: auto;
    }
}

.reverseItem {
    flex-direction: row-reverse;

    .text {
        padding-left: 60px;
        padding-right: 0;
    }

    @include size-tablet {
        flex-direction: column;

        .text {
            padding-left: 15px;
            padding-right: 0;
        }
    }
}
