@import 'styles/mixins/adaptive';

.counter {
    min-width: 95px;
    // width: 95px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    border-radius: 10px;
    //background-color: #1E1E1E;dark theme
    background-color: #fff;
    margin-left: auto;
    box-sizing: border-box;
}
.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    cursor: pointer;
    //color: #FFF;dark theme
    color: #232323;
    //background-color: #2F2F2F;dark theme
    background-color: #d8cecb;
    flex-shrink: 0;
    width: 22px;
    max-width: 22px;
    min-width: 22px;
    height: 22px;
    border-radius: 6px;
    transition: 0.3s linear all;

    & + div + button {
        background-color: var(--primary);
        color: #fff;

        svg {
            path {
                stroke: #fff;
            }
        }
    }
    svg {
        path {
            stroke: #232323;
        }
    }
}

.buttonDisabled {
    background-color: var(--grey);
    color: var(--brown-0);
}

.count {
    margin: 0 3px;
    width: 30px;
    min-width: 30px;
    font-family: var(--font-gotham);
    font-weight: 500 !important;
    font-size: 12px;
    line-height: 120%;
    text-align: center;
    //color: #FFF;dark theme
    color: #232323;
}

.minus_icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.plus_icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.input {
    font-size: 18px;
    line-height: 20px;
    padding: 10px 20px;
    border-radius: 7px;
    outline: none;
    width: 80px;
    z-index: 1;
    background: var(--pink-light);
    color: #362e28;
    font-weight: bold;
    margin: 0 10px;
    text-align: center;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
