@import "styles/mixins";


.block {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.blockHeader {
    display: flex;
    flex-direction: row;
    font-family: var(--font-druk-wide-cy);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    text-transform: uppercase;
    color: var(--dark);
    margin: 5px;

    @include size-tablet {
        font-size: 14px;
    }
}
.blockContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.errorMessage {
    color: var(--primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 120%;
    margin: auto;
}
.info {
    //background: #181818;dark theme
    background: #D8CECB;
    border-radius: 14px;
    width: calc(50% - 10px);
    margin-right: 5px;
    height: 66px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 18px 12px 16px;

    @include size-phone-large {
        width: 100%;
    }
}
.infoIcon {
    width: 36px;
    height: 36px;
    margin-right: 15px;

    svg {
        flex-shrink: 0;
    }
}
.infoMain {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.infoMainHeader {
    font-family: var(--font-gotham);
    color: #606060;
    font-size: 12px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 6px;
}

.infoMainLabel {
    font-family: var(--font-gotham);
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    //color: #FFF;dark theme
    color: #232323;
}

.infoBtn {
    height: 30px;
    padding: 0 10px;
    border-radius: 12px;
    border: 1px solid #3A3A3A;
    display: flex;
    align-items: center;
    //color: #FFF;dark theme
    color: #232323;
    font-family: var(--font-gotham);
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}
