.address-page {
    width: 100%;
    max-width: 100% !important;
    padding: 0 !important;
    margin-bottom: 75px !important;
    display: flex;
    flex-direction: column;

    &__title.section-title {
        margin-bottom: 50px;
    }
    .main-title {
        display: none;
    }
    .breadcrumbs {
        max-width: var(--container-width);
        width: 100%;
        margin: 20px auto;
        padding: 0 15px;
    }
    &__item {
        width: 100%;
        margin-bottom: 50px;
        border-radius: 90px;
        overflow: hidden;
        background-color: #9a9a9a;
        position: relative;
        min-height: 360px;

        .details {
            position: absolute;
            left: 60px;
            top: 60px;
            bottom: 60px;
            padding: 30px;
            width: 520px;
            border-radius: 40px;
            border: 1px solid #FFF;

            &__top {
                width: 100%;
                margin-bottom: 20px;

                &-phone {
                    color: #FFF;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 120%;

                    span {
                        font-size: 20px;
                        color: #FFF;
                        margin-right: 10px;
                    }
                }
                &-btn {
                    height: 30px;
                    padding: 0 20px;
                    border-radius: 12px;
                    border: 1px solid var(--primary);
                    color: #FFF;
                    font-size: 12px;
                    font-weight: 500;
                    cursor: pointer;
                    
                    &:hover {
                        background-color: var(--primary);
                        color: #FFF;
                    }
                }
            }
            &__address {
                display: block;
                width: 100%;
                margin: 0;
                color: #FFF;
                font-family: var(--font-druk-wide-cy);
                font-size: 22px;
                font-weight: 700;
                line-height: 120%;
                text-transform: uppercase;
            }
            .schedule {
                width: calc(100% + 4px);
                margin: 30px -2px 0 -2px;

                &__day {
                    width: calc(100% / 7);
                    padding: 0 2px;

                    &-inner {
                        width: 100%;
                        border-radius: 14px;
                        border: 1px solid rgba(255, 255, 255, 0.13);
                        background: linear-gradient(113deg, rgba(255, 255, 255, 0.15) 6.32%, rgba(255, 255, 255, 0.03) 55.15%, rgba(255, 255, 255, 0.10) 103.98%);
                        backdrop-filter: blur(7px);
                        padding: 7px;

                        &.is-today {
                            background: var(--primary);

                            .schedule__day-line {
                                background-color: #FFF;
                            }
                        }
                    }
                    &-title {
                        color: #FFF;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 120%;
                        margin-bottom: 3px;
                    }
                    &-time {
                        color: #FFF;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 120%;
                    }
                    &-line {
                        display: block;
                        width: 14px;
                        height: 1px;
                        border-radius: 3px;
                        background-color: rgba(255, 255, 255, .2);
                        margin: 4px 0;
                    }
                }
            }
        }
        &-buttons {
            position: absolute;
            right: 60px;
            bottom: 60px;
        }
        &-btn {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
            &--bordered {
                height: 30px;
                padding: 0 15px;
                border-radius: 12px;
                border: 1px solid var(--primary);
                color: var(--primary);
                font-size: 12px;
                font-weight: 500;
                cursor: pointer;

                &:hover {
                    background-color: var(--primary);
                    color: #FFF;
                }
            }
            &--primary {
                height: 60px;
                padding: 0 30px;
                border-radius: 20px;
                background-color: var(--primary);
                border: none;
                color: #FFF;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;

                &:hover {
                    background-color: var(--primary-light);
                }
            }
        }
    }
}
@media (max-width:  $breakpoint-big-desktop) {
    .address-page {
        margin-bottom: 50px !important;

        &__title.section-title {
            margin-bottom: 40px;
        }
        &__item {
            margin-bottom: 40px;
            border-radius: 70px;
            min-height: 340px;

            .details {
                left: 50px;
                top: 50px;
                bottom: 50px;
                padding: 25px;
                width: 500px;
                border-radius: 35px;
            }
            &-buttons {
                right: 50px;
                bottom: 50px;
            }
        }
    }
}
@media (max-width: $breakpoint-big-laptop) {
    .address-page {

        &__title.section-title {
            margin-bottom: 30px;
        }
        &__item {
            margin-bottom: 30px;
            border-radius: 50px;
            min-height: 320px;

            .details {
                left: 40px;
                top: 40px;
                bottom: 40px;
                padding: 20px;
                width: 450px;
                border-radius: 30px;
            }
            &-buttons {
                right: 40px;
                bottom: 40px;
            }
            &-btn {

                &--primary {
                    height: 50px;
                    padding: 0 25px;
                    border-radius: 15px;
                }
            }
        }
    }
}
@media (max-width:  $breakpoint-laptop) {
    .address-page {

        &__title.section-title {
            margin-bottom: 25px;
        }
        &__item {
            margin-bottom: 25px;
            border-radius: 40px;
            min-height: 300px;

            .details {
                left: 30px;
                top: 30px;
                bottom: 30px;
                padding: 15px;
                width: 420px;
                border-radius: 25px;
            }
            &-buttons {
                right: 30px;
                bottom: 30px;
            }
            &-btn {

                &--primary {
                    height: 40px;
                    padding: 0 20px;
                    border-radius: 15px;
                }
            }
        }
    }
}
@media (max-width:  $breakpoint-tablet) {
    .address-page {

        &__title.section-title {
            margin-bottom: 20px;
        }
        &__item {
            margin-bottom: 20px;
            border-radius: 30px;
            min-height: 275px;

            .details {
                left: 20px;
                top: 20px;
                bottom: 20px;
                padding: 15px;
                width: 400px;
                border-radius: 20px;

                &__address {
                    font-size: 20px;
                }
            }
            &-buttons {
                right: 20px;
                bottom: 20px;
            }
        }
    }
}
@media (max-width:  $breakpoint-phone-large) {
    .address-page {

        &__item {
            border-radius: 25px;
            min-height: 400px;

            .details {
                left: 15px;
                top: 15px;
                right: 15px;
                bottom: auto;
                padding: 15px;
                width: auto;
                border-radius: 20px;

                &__top {
                    margin-bottom: 15px;
                }
                &__address {
                    font-size: 18px;
                }
                .schedule {
                    margin-top: 15px;
                }
            }
            &-buttons {
                right: 15px;
                bottom: 15px;
            }
            &-btn {
                margin-bottom: 10px;
            }
        }
    }
}
@media (max-width:  $breakpoint-phone-medium) {
    .address-page {

        &__item {
            border-radius: 15px;

            .details {
                left: 10px;
                top: 10px;
                right: 10px;
                bottom: auto;
                padding: 10px;
                width: auto;
                border-radius: 15px;

                &__top {
                    margin-bottom: 10px;

                    &-phone {
                        font-size: 14px;

                        span {
                            font-size: 18px;
                            margin-right: 10px;
                        }
                    }
                    &-btn {
                        height: 25px;
                        padding: 0 10px;
                        border-radius: 10px;
                        font-size: 11px;
                    }
                }
                &__address {
                    font-size: 16px;
                }
                .schedule {
                    margin-top: 10px;
                }
            }
            &-buttons {
                right: 10px;
                bottom: 10px;
            }
            &-btn {
                margin-bottom: 10px;
            }
        }
    }
}
@media (max-width: 450px) {
    .address-page {

        &__item {

            .details {

                &__top {

                    &-phone {
                        font-size: 13px;

                        span {
                            font-size: 17px;
                            margin-right: 7px;
                        }
                    }
                    &-btn {
                        padding: 0 7px;
                        font-size: 10px;
                    }
                }
                &__address {
                    font-size: 14px;
                }
                .schedule {

                    &__day {

                        &-time {
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
}
