.delivery-payment {
    width: calc(100% + 15px);
    margin: 0 -7.5px 60px -7.5px;

    &__item {
        width: 25%;
        padding: 0 7.5px;
        margin-bottom: 15px;

        &-inner {
            width: 100%;
            height: 100%;
            border-radius: 40px;
            //border: 1px solid #292929;dark theme
            //background-color: #0F0F0F;dark theme
            background-color: #D8CECB;
            padding: 25px 30px;
        }
        &-icon {
            font-size: 70px;
            color: var(--primary);
        }
        &-title {
            margin: 30px 0 20px 0;
            //color: #FFF;dark theme
            color: #232323;
            font-family: var(--font-druk-wide-cy);
            font-size: 16px;
            font-weight: 700;
            line-height: 130%;
            letter-spacing: .64px;
            text-transform: uppercase;
        }
        &-text {
            color: var(--primary-text);
            font-size: 14px;
            font-weight: 400;
            line-height: 120%;
            margin: 0;
        }
        &-address {
            color: var(--primary-text);
            font-size: 14px;
            font-weight: 500;
            line-height: 120%;
            margin-top: 5px;
        }
    }
}
@media (max-width: $breakpoint-big-laptop) {
    .delivery-payment {
        margin-bottom: 35px;

        &__item {

            &-inner {
                border-radius: 30px;
                padding: 20px;
            }
        }
    }
}
@media (max-width: $breakpoint-laptop) {
    .delivery-payment {

        &__item {

            &-title {
                margin: 25px 0 15px;
                font-size: 14px;
            }
        }
    }
}
@media (max-width: $breakpoint-tablet) {
    .delivery-payment {

        &__item {
            width: 50%;

            &-title {
                font-size: 16px;
            }
        }
    }
}
@media (max-width: $breakpoint-phone-medium) {
    .delivery-payment {

        &__item {
            width: 100%;
        }
    }
}
@media (max-width: 400px) {
    .delivery-payment {

        &__item {

            &-title {
                font-size: 14px;
            }
        }
    }
}
