.profile-page {
    width: 100%;
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;

    &__inner {
        width: 100%;
    }
    &__title {
        display: block;
        width: 100%;
        //color: #FFF;dark theme
        color: #232323;
        font-family: var(--font-druk-wide-cy);
        font-size: 40px;
        font-weight: 700;
        line-height: 120%;
        text-transform: uppercase;
        margin: 20px 0 50px 0;
    }
    &__subtitle {
        display: block;
        width: 100%;
        //color: #FFF;dark theme
        color: #232323;
        font-family: var(--font-druk-wide-cy);
        font-size: 20px;
        font-weight: 700;
        line-height: 120%;
        text-transform: uppercase;
        margin: 0 0 25px 0;
    }
    &__orders {
        width: calc(100% - 300px);
        padding-right: 75px;

        &-list {
            width: 100%;

            .order {
                width: 100%;
                margin-bottom: 30px;
                border-radius: 40px;
                //border: 1px solid #292929;dark theme
                //background-color: #0F0F0F;dark theme
                background-color: #D8CECB;
                padding: 25px 30px;

                &:last-child {
                    margin-bottom: 0;
                }
                &__top {
                    width: 100%;
                    margin-bottom: 20px;
                }
                &__status {
                    margin-right: 10px;

                    &-title {
                        color: #606060;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 120%;
                        margin-bottom: 2px;

                        &.is-active {
                            color: var(--primary);
                        }
                    }
                    &-time {
                        //color: #FFF;dark theme
                        color: #232323;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 120%;
                    }
                }
                &__actions {
                    margin-left: auto;

                    &-btn {
                        height: 30px;
                        padding: 0 15px;
                        border-radius: 12px;
                        border: 1px solid var(--primary);
                        //color: #FFF;dark theme
                        color: #232323;
                        font-size: 12px;
                        font-weight: 500;
                        cursor: pointer;

                        &:hover {
                            border-color: var(--primary-light);
                        }
                    }
                    &-paid {
                        height: 30px;
                        padding: 0 5px 0 15px;
                        margin-left: 10px;
                        border-radius: 12px;
                        background-color: #181818;
                        color: #FFF;
                        font-size: 12px;
                        font-weight: 500;

                        span {
                            font-size: 18px;
                            color: #FFF;
                            margin-left: 10px;
                        }
                    }
                }
                .order-products {
                    width: calc(100% + 20px);
                    margin: 0 -10px;

                }
                .order-product {
                    width: 33.3%;
                    margin-bottom: 15px;
                    padding: 0 10px;

                    &__inner {
                        width: 100%;
                        height: 100%;
                    }
                    &__image {
                        width: 60px;
                        min-width: 60px;
                        min-height: 60px;
                        padding: 0 4px;

                        &-img {
                            width: 100%;
                        }
                    }
                    &__info {
                        width: calc(100% - 60px);
                        padding-left: 10px;

                        &-title {
                            display: inline-block;
                            max-width: 100%;
                            //color: #FFF;dark theme
                            color: #232323;
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 120%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        &-weight {
                            margin-top: 1px;
                            color: #C91100;
                            font-size: 10px;
                            font-weight: 400;
                            line-height: 120%;
                        }
                        &-bottom {
                            width: 100%;
                            margin-top: 1px;
                        }
                        &-price {
                            //color: #FFF;dark theme
                            color: #232323;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 120%;
                        }
                        &-count {
                            height: 18px;
                            padding: 0 7px;
                            border-radius: 6px;
                            //background-color: #181818;dark theme
                            background-color: #CBC2C0;
                            //color: #FFF;dark theme
                            color: #232323;
                            font-size: 10px;
                            font-weight: 500;
                            text-transform: uppercase;
                        }
                    }
                }
                .order-details {
                    width: 100%;
                    border-top: 1px solid #262626;
                    padding-top: 5px;

                    &__info {
                        margin-right: 10px;

                        &-item {
                            margin: 10px 15px 0 0;
                            color: #606060;
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 140%;
                            white-space: nowrap;

                            &:last-child {
                                margin-right: 0;
                            }
                            span {
                                margin-left: 5px;
                                //color: #FFF;dark theme
                                color: #232323;
                            }
                        }
                    }
                    &__amount {
                        //color: #FFF;dark theme
                        color: #232323;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 100%;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    &__info {
        width: 300px;
        min-width: 300px;
        position: sticky;
        top: 110px;

        .bonuses {
            width: 100%;
            border-radius: 14px;
            background-color: #181818;
            padding: 15px;

            &__top {
                width: 100%;

                &-icon {
                    font-size: 36px;
                    color: #FFF;
                    margin-right: 15px;
                }
                &-text {
                    color: #606060;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 120%;
                }
                &-amount {
                    color: #FFF;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 120%;
                    margin-top: 6px;
                }
            }
            &__details {
                width: 100%;
                margin-top: 10px;
                border-radius: 14px;
                background-color: #FFF;
                padding: 10px 15px;
                color: #0F0F0F;
                font-size: 12px;
                font-weight: 400;
                line-height: 120%;

                span {
                    font-weight: 500;
                }
            }
        }
        .edit-profile {
            width: 100%;
            margin-top: 30px;

            &__field {
                width: 100%;
                margin-bottom: 15px;

                .icon-edit {
                    color: #606060;
                    font-size: 24px;
                    transition: .3s linear all;

                    &:hover {
                        //color: #FFF;dark theme
                        color: #232323;
                    }
                }
                .icon-check-circle {
                    //color: #FFF;dark theme
                    font-size: 24px;
                    color: #232323;
                }
                .calendar-field {
                    margin: 0;
                    position: relative;
                    z-index: 100;
                }
                &-icon {
                    position: absolute;
                    right: 15px;
                    top: 18px;
                    font-size: 24px;
                    cursor: pointer;
                    z-index: 101;
                }
                input {
                    padding: 20px 45px 0 15px !important;
                }
                .react-datepicker__input-container {

                    input {
                        padding: 0 !important;
                    }
                }

            }
        }
        &-btn {
            margin-top: 10px;
            height: 30px;
            padding: 0 15px;
            border-radius: 12px;
            //border: 1px solid #292929;dark theme
            border: 1px solid #A39A98;
            color: var(--primary-text);
            font-size: 12px;
            font-weight: 500;
            cursor: pointer;

            &:hover {
                border-color: var(--primary);
            }
        }
    }
}
@media (max-width: $breakpoint-big-laptop) {
    .profile-page {
        margin-bottom: 35px;

        &__title {
            font-size: 36px;
            margin-bottom: 40px;
        }
        &__orders {
            padding-right: 50px;
        }
    }
}
@media (max-width: $breakpoint-laptop) {
    .profile-page {

        &__title {
            font-size: 30px;
            margin-bottom: 35px;
        }
        &__subtitle {
            font-size: 18px;
            margin: 0 0 20px;
        }
        &__orders {
            padding-right: 20px;
            width: calc(100% - 250px);

            &-list {

                .order {
                    padding: 20px 25px;
                    border-radius: 35px;

                    .order-products {
                        width: calc(100% + 10px);
                        margin: 0 -5px;
                    }
                    .order-product {
                        margin-bottom: 10px;
                        padding: 0 5px;
                    }
                }
            }
        }
        &__info {
            width: 250px;
            min-width: 250px;
        }
    }
}
@media (max-width: $breakpoint-tablet) {
    .profile-page {

        &__title {
            font-size: 24px;
            margin-bottom: 30px;
        }
        &__subtitle {
            font-size: 18px;
            margin: 0 0 20px;
        }
        &__orders {
            padding-right: 15px;

            &-list {

                .order {
                    padding: 15px 20px;
                    border-radius: 30px;
                    margin-bottom: 25px;

                    .order-product {
                        width: 50%;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        &__info {

            .edit-profile {
                margin-top: 20px;

                &__field {
                    margin-bottom: 10px;
                }
            }
        }
    }
}
@media (max-width: $breakpoint-phone-large) {
    .profile-page {

        &__title {
            margin-bottom: 25px;
        }
        &__subtitle {
            margin: 0 0 15px;
        }
        &__orders {
            padding-right: 0;
            margin-top: 25px;
            order: 2;
            width: 100%;

            &-list {

                .order {
                    padding: 15px;
                    border-radius: 25px;
                    margin-bottom: 20px;

                    .order-details {

                        &__info {
                            width: 100%;
                            margin-right: 0;

                            &-item {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
        &__info {
            width: 100%;
            position: relative;
            top: 0;
            order: 1;
            margin-top: 5px;

            .edit-profile {
                margin-top: 15px;

                &__field {
                    margin-bottom: 10px;
                }
            }
        }
    }
}
@media (max-width: $breakpoint-phone-medium) {
    .profile-page {

        &__orders {

            &-list {

                .order {
                    margin-bottom: 15px;

                    &__top {
                        flex-wrap: wrap;
                    }
                    &__status {
                        flex-direction: row;
                        align-items: center;
                        width: 100%;
                        margin-bottom: 10px;
                        margin-right: 0;

                        &-title {
                            margin-right: 10px;
                            margin-bottom: 0;
                        }
                        &-time {
                            margin-left: auto;
                        }
                    }
                    .order-product {
                        width: 100%;
                    }
                    .order-details {

                        &__info {

                            &-item {
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}
