.promotions-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;

    .promotions-list {
        width: 100%;
        gap: 15px;

        &__item {
            width: calc(50% - 7.5px);
            border-radius: 40px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            min-height: 220px;
            overflow: hidden;

            &-inner {
                width: 100%;
                height: 100%;
                padding: 30px 40px;
                background-color: rgba(0, 0, 0, .4);
            }
            &-title {
                flex-grow: 1;
                margin-bottom: 15px;
                color: #FFF;
                font-family: var(--font-druk-wide-cy);
                font-size: 22px;
                font-weight: 700;
                line-height: 130%;
                text-transform: uppercase;
            }
            &-code {
                height: 32px;
                padding: 0 0 0 15px;
                border-radius: 14px;
                border: 2px solid var(--primary);
                color: #FFF;
                font-size: 14px;
                font-weight: 500;

                div {
                    margin-left: 15px;
                    height: 100%;
                    padding: 0 15px;
                    border-radius: 14px;
                    background-color: var(--primary);
                    color: #FFF;
                    font-size: 14px;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-right: -2px;
                }
            }
            &-description {
                border-radius: 14px;
                border: 2px solid var(--primary);
                padding: 6px 15px;
                color: #FFF;
                font-size: 14px;
                font-weight: 500;
                line-height: 120%;
            }
        }
    }
}
@media (max-width: $breakpoint-desktop) {
    .promotions-page {
        margin-bottom: 60px;

        .promotions-list {

            &__item {

                &-inner {
                    padding: 25px 30px;
                }
                &-title {
                    font-size: 20px;
                }
            }
        }
    }
}
@media (max-width: $breakpoint-laptop) {
    .promotions-page {
        margin-bottom: 50px;

        .promotions-list {

            &__item {
                border-radius: 30px;

                &-inner {
                    padding: 20px 25px;
                }
                &-title {
                    font-size: 18px;
                }
            }
        }
    }
}
@media (max-width: $breakpoint-tablet) {
    .promotions-page {
        margin-bottom: 40px;

        .promotions-list {

            &__item {
               min-height: 200px;

                &-inner {
                    padding: 20px;
                }
            }
        }
    }
}
@media (max-width: $breakpoint-phone-large) {
    .promotions-page {
        margin-bottom: 30px;

        .promotions-list {

            &__item {
                min-height: 150px;
                border-radius: 20px;

                &-inner {
                    padding: 20px 15px;
                }
                &-title {
                    font-size: 16px;
                }
            }
        }
    }
}
@media (max-width: $breakpoint-phone-medium) {
    .promotions-page {

        .promotions-list {

            &__item {
                min-height: 250px;
                border-radius: 30px;
                width: 100%;

                &-inner {
                    padding: 20px;
                }
                &-title {
                    font-size: 18px;
                }
            }
        }
    }
}
@media (max-width: 400px) {
    .promotions-page {

        .promotions-list {

            &__item {
                min-height: 200px;
                border-radius: 20px;

                &-inner {
                    padding: 20px 15px;
                }
                &-title {
                    font-size: 16px;
                }
            }
        }
    }
}
