@import 'styles/mixins';

.icon {
    position: relative;
    height: 20px;
    width: 20px;
}

.cartButton {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.sheduleInfoModal {
    .sheduleInfoModalContainer {
        margin: 0 40px;
        line-height: 1.8;

        @include size-phone-medium {
            margin: 0 40px 0 20px;
        }
        .modalHeader {
            color: var(--primary);
            margin-top: 20px;
            text-transform: uppercase;
            font-style: normal;
            font-weight: 900;
            font-size: 22px;
            line-height: 130%;

            @include size-tablet {
                font-size: 14px;
            }
        }
        .modalInfo {
            text-transform: uppercase;
            font-weight: 900;
            font-size: 22px;
            line-height: 130%;
            max-width: 270px;
            margin-right: 100px;

            @include size-tablet {
                font-size: 14px;
            }
        }
        .modalButton {
            margin-top: 40px;
            height: 70px;
            margin-bottom: 20px;
        }
    }
}

.productCount {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #232323;/*dark theme #FFF*/
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: #FFF;/*dark theme var(--dark)*/
    font-size: 13px;
    font-weight: bold;

    @include size-tablet {
        width: 18px;
        height: 18px;
        font-size: 12px;
        top: -5px;
        right: -8px;
    }
}

.popoverText {
    color: var(--white);
    margin-bottom: 5px;
}

