@import "styles/mixins";

.modal {
    width: 255px;
    padding: 20px 20px;
    padding-top: 35px !important;
    text-align: center;
    color: #362e28;
    overflow: hidden;
    min-width: 0 !important;
}

.contacts {
    color: var(--brown-dark);
}

.reserveButton {
    white-space: nowrap;
    height: 40px;
    width: 200px;
    margin-top: 24px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}

.contactsButton {
    white-space: nowrap;
    background-color: #fff !important;
    border: solid 1px var(--pink);
    color: var(--brown) !important;
    height: 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 500;
}
