@import "styles/mixins";

.phoneVerifacationModal {
    width: 700px;
}

.phoneVerifacation {
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
    color: #362e28;
    font-weight: bold;

    button {
        padding: 18px 27px;
        background-color: #9b3d30;
        border: none;
        border-radius: 7px;
        outline: none;
        color: #fff;
        font-size: 18px;
        line-height: 23px;
        cursor: pointer;

        @include size-phone-medium {
            font-size: 16px;
            line-height: 18px;
        }

        @include size-phone-small {
            width: 100%;
        }
    }

    @include size-phone-medium {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 0;
    }
}

.title {
    font-size: 36px;
    line-height: 34px;
    padding-right: 35px;

    @include size-phone-medium {
        font-size: 22px;
    }
}

.EditPhoneNumber {
    display: flex;
    justify-content: center;
    align-items: center;

    @include size-phone-large {
        flex-direction: column;
    }
}

.subTitle {
    font-size: 20px;
    line-height: 34px;

    @include size-phone-medium {
        font-size: 14px;
        line-height: 22px;
    }
}

.phoneNumber {
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;

    @include size-phone-medium {
        font-size: 14px;
        line-height: 22px;
    }
}

.edit {
    color: #9b3d30;
    text-decoration: none;
    font-weight: medium;
    font-size: 16px;
    line-height: 20px;

    @include size-phone-medium {
        font-size: 14px;
        line-height: 22px;
    }
}

.agreementText {
    max-width: 505px;
    margin: 0 auto;
    margin-top: 35px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    span {
        color: #9b3d30;
    }

    @include size-phone-medium {
        margin-top: 20px;
    }
}
