@import 'styles/mixins';

.modal {
    width: 400px;
    padding: 20px 30px 30px 30px;
    color: var(--primary-text);

    @include size-phone-large {
        padding: 15px 10px 10px 10px;
    }
}

.title {
    font-family: var(--font-druk-wide-cy);
    font-size: 18px;
    line-height: 130%;
    text-transform: uppercase;
    padding-left: 5px;
    font-weight: 700;
    color: #232323;
    padding-right: 36px;

    @include size-phone-large {
        font-size: 16px;
    }
}

.error {
    margin: 20px 0;
    color: var(--primary);
    font-family: var(--font-gotham);
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
}
.description {
    margin: 20px 0;
    padding: 0 5px;
    color: #606060;
    font-family: var(--font-gotham);
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
}

.subTitle {
    color: var(--primary-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    margin-top: 20px;
}

.editPhoneNumber {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: var(--primary-text);
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
}

.phoneNumber {
    //color: #fff;dark theme
    color: #232323;
}

.edit {
    margin-left: 10px;
    text-decoration: none;
    color: var(--primary);
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    cursor: pointer;
}

.agreementText {
    margin-top: 20px;
    color: var(--primary-text);
    font-size: 10px;
    font-weight: 400;
    line-height: 120%;

    a {
        color: var(--primary-text);
        text-decoration: underline;

        &:hover {
            text-decoration: none;
            color: var(--primary);
        }
    }
}

.input {
    width: 100%;
    height: 60px;
    padding: 0 15px;
    border-radius: 14px;
    //border: 1px solid #292929;dark theme
    border: 1px solid #e8dddb;
    //background-color: #151515;dark theme
    background-color: #fff;
    //color: var(--white);dark theme
    color: #232323;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    transition: 0.3s linear all;

    &:hover,
    &:focus {
        border-color: #b6aba9;
    }
    @include size-phone-large {
        font-size: 14px;
    }
}

.error {
    border: 1px solid var(--primary);
}
.message {
    color: #606060;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    margin-top: 30px;
}
.messageNoBooking {
    color: #f94343;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    margin-top: 30px;
}

.button {
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s linear all;
    color: #fff;
    font-family: var(--font-gotham);
    font-size: 16px;
    font-weight: 500;
    margin-right: 20px;

    &:hover {
        background-color: var(--primary-light);
    }
}
