@import "styles/mixins";


.card {
    --row-gap: 12px;

    display: grid;
    position: relative;

    @include size-more-than-phone-large {
        grid-template-rows: 220px 1fr;
        grid-row-gap: var(--row-gap);
    }

    @include size-phone-large {
        grid-template-columns: 220px 1fr;
        grid-column-gap: 15px;
        padding-bottom: 16px;
        border-bottom: 1px solid var(--pink-light);

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
    }

    @include size-phone-medium {
        grid-template-columns: 100px 1fr;

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
    }
}

.image {
    position: relative;
    cursor: pointer;
    margin: -10px;
    z-index: 0;

    @include size-more-than-phone-large {
        margin-left: -20px;
        margin-right: -20px;
    }

    @include size-phone-medium {
        margin: 0;
    }
}

.content {
    display: flex;
    flex-direction: column;
}

.name {
    font-family: var(--font-gotham);
    font-weight: 500;
    font-size: var(--font-medium);
    line-height: 19.2px;
    margin-bottom: var(--row-gap);
    color: var(--brown-dark);
    cursor: pointer;
}

.description {
    max-width: 248px;
    width: 100%;
    margin-bottom: var(--row-gap);
    font-size: var(--font-small);
    line-height: 14.4px;
    font-weight: 400;
    color: var(--dark-light);
    display: -webkit-box;
    word-break: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @include size-phone-medium {
        max-width: unset;
    }
}

.priceContainerLeft {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.weight {
    font-family: var(--font-gotham);
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 120%;
    color: var(--grey-semilight);
    padding: 5px 5px 5px 0;
}

.price {

    color: var(--dark);
    white-space: nowrap;


    font-family: var(--font-druk-wide-cy);

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;

    letter-spacing: .04em;
    text-transform: uppercase;


    @include size-phone-large {
        font-size: 20px;
    }

    @include size-phone-small {
        font-size: 18px;
    }
}

.priceContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: var(--row-gap);
    width: 100%;
    clear: both;
}

.footer {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-shrink: 0;
}

.addButton {
    padding-left: 20px;
    padding-right: 20px;
    min-width: 114px;
    height: 50px;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--primary);
}

.label {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;

    @include size-phone-large {
        transform: scale(.8);
    }
}

.notAvailableByTimeMessage {
    color: var(--brown);
}

.counterHolder {
    height: 50px;
    display: flex;
    align-items: center;
}
