@import "styles/mixins";

.root {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 80%;
    padding-top: 96px;
    padding-bottom: 96px;
    margin-left: auto;
    margin-right: auto;

    @include size-tablet {
        flex-wrap: wrap;
        padding: 45px 30px 225px;
        max-width: unset;
    }
}

.image {
    @include size-tablet {
        order: 1;
    }
}
