@import "styles/mixins";

.htmlContent {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #362e28;

    @include size-phone-large {
        font-size: 16px;
        line-height: 26px;
    }

    a {
        font-weight: 500;
        color: var(--primary);
    }

    h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 38px;
        color: #362e28;

        @include size-phone-large {
            font-size: 20px;
            line-height: 25px;
        }
    }

    h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #362e28;
        margin-bottom: 14px;

        @include size-phone-large {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 7;
        }
    }

    p {
        margin-top: 0;
        margin-bottom: 40px;
        word-break: break-word;

        @include size-phone-large {
            margin-bottom: 25px;
        }
    }

    img {
        border-radius: 10px;
        max-width: 100%;
    }

    ul {
        margin-bottom: 20px;
        margin-left: 15px;
        padding: 0;

        li {
            padding-left: 18px;
            list-style-image: url(~/public/images/li.png);
        }
    }

    ol {
        margin-bottom: 20px;
        margin-left: 15px;
        padding: 0;
        counter-reset: item;
        list-style-type: none;

        li {
            display: flex;
        }

        li::before {
            display: inline-block;
            content: counter(item) "  ";
            counter-increment: item;
            margin-left: -15px;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: var(--primary);
            width: 50px;

            @include size-phone-large {
                font-size: 22px;
                line-height: 28px;
                width: 40px;
                flex-shrink: 0;
            }
        }
    }
}
