@import "styles/mixins";

.product {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 15px 7px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .07);
    border-radius: 12px;
    cursor: pointer;
    min-width: fit-content;
}

.image {
    flex-shrink: 0;
    position: relative;
    width: 110px;
    height: 110px;

    @include size-phone-large {
        width: 90px;
        height: 90px;
    }
}

.info {
    margin-left: 17px;
}

.name {
    max-height: 40px;
    color: var(--dark);
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;

    @include line-clamp;
}

.price {
    margin-top: 8px;
    color: var(--primary);
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
}
