.events {
    width: 100%;

    &__inner {
        width: 100%;
    }
    &__title.section-title {
        width: 100%;
        margin-bottom: 50px;
    }
    .events-slider {
        width: 100%;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &__slide {
            position: relative;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 40px;
            overflow: hidden;

            &:before {
                content: '';
                display: block;
                margin-top: 100%;
            }
            &-inner {
                width: 100%;
                background-color: rgba(0, 0, 0, .4);
                padding: 35px 35px 35px 0;
            }
            &-icon {
                width: 50px;
                min-width: 50px;
                margin-right: 15px;
            }
            &-title {
                color: #FFF;
                font-size: 26px;
                font-weight: 500;
                line-height: 120%;
                margin: 0 0 10px 0;
            }
            &-date {
                color: rgba(255, 255, 255, .5);
                font-size: 14px;
                font-weight: 500;
                line-height: 120%;
            }
        }
        &__buttons {
            margin-left: 10px;

            &-btn {
                width: 64px;
                height: 64px;
                background-color: var(--primary);
                cursor: pointer;
                margin-right: 10px;

                &:hover {
                    background-color: var(--primary-light);
                }
                &:last-child {
                    margin-right: 0;
                }
                &.swiper-button-disabled {
                    background-color: #1D1D1D !important;
                    cursor: default;
                }
                span {
                    font-size: 20px;
                    color: #FFF;
                }
            }
        }
        .swiper-wrapper {
            padding-bottom: 32px;
        }
        .swiper-pagination {
            bottom: 0 !important;

            .swiper-pagination-bullet {
                width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
                height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
                //background-color: #343434 !important;dark theme
                background-color: #5e4741 !important;

                &.swiper-pagination-bullet-active {
                    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 12px));
                    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 12px));
                    background-color: var(--primary) !important;
                }
            }
        }
    }
    &__link {
        color: #232323;/*dark theme #FFF*/
        font-size: 24px;
        font-weight: 400;
        line-height: 120%;
        margin-top: 35px;

        &:hover {
            color: var(--primary);

            span {
                color: var(--primary);
            }
        }
        span {
            margin-top: 4px;
            font-size: 16px;
            color: #232323;/*dark theme #FFF*/
            margin-left: 10px;
        }
    }
}
@media (max-width: $breakpoint-big-desktop) {
    .events {

        .events-slider {

            &__buttons {

                &-btn {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }
}
@media (max-width: $breakpoint-big-laptop) {
    .events {

        &__title.section-title {
            margin-bottom: 20px;
        }
        .events-slider {

            &__slide {
                border-radius: 35px;

                &-inner {
                    padding: 30px 30px 30px 0;
                }
                &-icon {
                    width: 45px;
                    min-width: 45px;
                }
                &-title {
                    font-size: 24px;
                }
            }
            &__buttons {

                &-btn {
                    width: 55px;
                    height: 55px;

                    span {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
@media (max-width: $breakpoint-laptop) {
    .events {

        &__title {
            font-size: 30px;
        }
        .events-slider {

            &__slide {
                border-radius: 30px;

                &-inner {
                    padding: 20px 20px 25px 0;
                }
                &-icon {
                    width: 40px;
                    min-width: 40px;
                }
                &-title {
                    font-size: 20px;
                }
            }
            &__buttons {

                &-btn {
                    width: 50px;
                    height: 50px;

                    span {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
@media (max-width: $breakpoint-tablet) {
    .events {

        &__title {
            font-size: 24px;
        }
        .events-slider {

            &__slide {
                border-radius: 25px;

                &-inner {
                    padding: 10px 10px 15px 0;
                }
                &-icon {
                    width: 30px;
                    min-width: 30px;
                }
                &-title {
                    font-size: 16px;
                }
            }
            &__buttons {

                &-btn {
                    width: 45px;
                    height: 45px;

                    span {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
@media (max-width: $breakpoint-phone-large) {
    .events {

        &__title {
            font-size: 28px;
        }
        .events-slider {

            &__buttons {
                display: none;
            }
        }
    }
}
@media (max-width: $breakpoint-phone-medium) {
    .events {

        .events-slider {

            &__slide {
                border-radius: 20px;

                &-icon {
                    width: 25px;
                    min-width: 25px;
                }
                &-title {
                    font-size: 16px;
                    margin-bottom: 5px;
                }
                &-date {
                    font-size: 12px;
                }
            }
        }
    }
}
@media (max-width: 450px) {
    .events {

        &__title {
            font-size: 24px;
        }
        .events-slider {

            &__slide {
                border-radius: 30px;

                &-icon {
                    width: 30px;
                    min-width: 30px;
                }
                &-title {
                    font-size: 18px;
                    margin-bottom: 10px;
                }
                &-date {
                    font-size: 14px;
                }
            }
        }
    }
}
