.footer {
    width: 100%;
    padding-top: 150px;
    background-image: url('~public/images/footer-bg.svg');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: 0;
    margin-top: -75px;
    background-size: 30%;

    &__inner {
        width: 100%;
    }
    &__columns {
        width: 100%;
    }
    &__column {
        &:first-child {
            padding-right: 4%;
        }
        &:last-child {
            margin-left: auto;

            .footer__title {
                display: none;
            }
        }
    }
    &__title {
        display: inline-block;
        margin: 70px 0 100px 0;
        color: #232323; /*dark theme #FFF*/
        font-family: var(--font-druk-wide-cy);
        font-size: 40px;
        font-weight: 700;
        line-height: 120%;
        text-transform: uppercase;

        span {
            color: var(--primary);
        }
    }
    &__menus {
        width: 100%;
        margin-bottom: 50px;
        display: flex;
        &-column {
            // &:nth-child(2) {
            //     margin: 0 10px;
            // }
            margin-bottom: 20px;
        }
        &-title {
            display: block;
            margin: 0 0 10px 0;
            color: #232323; /*dark theme #FFF*/
            font-family: var(--font-druk-wide-cy);
            font-size: 18px;
            font-weight: 700;
            line-height: 120%;
            text-transform: uppercase;
        }
    }
    &__menu {
        min-width: 100px;
        &-item {
            display: inline-block;
            margin-bottom: 10px;
            color: var(--primary-text);
            font-size: 14px;
            font-weight: 400;
            line-height: 120%;

            &:hover {
                color: var(--primary);
            }
        }
        &.menu {
            display: block;
            column-count: 4;
            .footer__menu-item {
                display: block;
            }
        }
    }
    &__socials {
        width: 100%;

        &-item {
            margin-right: 10px;

            &:hover {
                span {
                    .path1 {
                        &:before {
                            color: #232323; /*dark theme #FFF*/
                        }
                    }
                    .path2,
                    .path3,
                    .path4 {
                        &:before {
                            color: #fff; /*dark theme #0F0F0F*/
                        }
                    }
                }
            }
            &:last-child {
                margin-right: 0;
            }
            span {
                font-size: 70px;

                .path1 {
                    &:before {
                        color: #d8cecb; /*dark theme #181818*/
                    }
                }
                .path2,
                .path3,
                .path4 {
                    &:before {
                        color: #232323; /*dark theme none*/
                    }
                }
                .path1,
                .path2,
                .path3,
                .path4 {
                    &:before {
                        -webkit-transition: 0.3s linear all;
                        -moz-transition: 0.3s linear all;
                        -o-transition: 0.3s linear all;
                        transition: 0.3s linear all;
                    }
                }
            }
        }
    }
    &__restaurant {
        width: 100%;
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }
        &-image {
            width: 280px;
            min-width: 280px;
            margin-right: 30px;
        }
        &-phone {
            color: #232323; /*dark theme #FFF*/
            font-size: 16px;
            font-weight: 400;
            line-height: 120%;
        }
        &-address {
            width: 100%;
            margin-top: 15px;
            padding-top: 12px;
            position: relative;
            color: #232323; /*dark theme #FFF*/
            font-size: 25px;
            font-weight: 500;
            line-height: 120%;

            &:before {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                width: calc(100% - 50px);
                height: 1px;
                background-color: var(--primary);
            }
        }
        &-schedule {
            margin-top: 8px;
            color: var(--primary-text);
            font-size: 14px;
            font-weight: 400;
            line-height: 120%;
        }
        &-buttons {
            width: 100%;
            margin-top: 40px;
        }
        &-btn {
            height: 58px;
            padding: 0 25px;
            border: 1px solid var(--primary);
            background-color: var(--primary);
            color: var(--white);
            font-size: 14px;
            font-weight: 500;
            margin-right: 15px;
            border-radius: 20px;
            cursor: pointer;

            &:hover {
                border-color: var(--primary-light);
                background-color: var(--primary-light);
            }
            &:last-child {
                margin-right: 0;
                background-color: var(--white);
                color: #232323;

                &:hover {
                    border-color: var(primary-border-light);
                }
                span {
                    font-size: 28px;
                    color: #232323; /*dark theme #FFF*/
                    margin-left: 15px;
                }
            }
        }
    }
    &__links {
        width: 100%;
        margin-top: 80px;
    }
    &__link {
        margin-right: 60px;

        &:nth-child(1):hover {
            .footer__link-title {
                color: #fa7305;
            }
        }
        &:nth-child(2):hover {
            .footer__link-title {
                color: #3aaa35;
            }
        }
        &:nth-child(3):hover {
            .footer__link-title {
                color: #3598db;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
        &-icon {
            width: 68px;
            margin-right: 12px;
        }
        &-title {
            color: #232323; /*dark theme #FFF*/
            font-family: var(--font-druk-wide-cy);
            font-size: 16px;
            font-weight: 700;
            line-height: 120%;
            text-transform: uppercase;
        }
        &-text {
            color: #606060; /*dark theme #FFF*/
            font-size: 14px;
            font-weight: 400;
            line-height: 120%;
            margin-top: 6px;
        }
    }
    &__bottom {
        width: 100%;
        margin: 70px 0 40px 0;

        &-item {
            color: #3d3d3d;
            font-size: 10px;
            font-weight: 400;
            line-height: 120%;
            margin-right: 20px;
            gap: 10px;
            &:last-child {
                margin-right: 0;
            }
            &--link {
                &:hover {
                    color: var(--primary);
                }
            }
        }
    }
}
@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop) {
    .footer {
        &__title {
            margin: 55px 0 75px;
            font-size: 34px;
        }
        &__column {
            &:first-child {
                padding-right: 3%;
            }
        }
        &__menus {
            display: flex;
            margin-bottom: 35px;
        }
        &__socials {
            &-item {
                span {
                    font-size: 60px;
                }
            }
        }
        &__restaurant {
            &-image {
                width: 220px;
                min-width: 220px;
                margin-right: 20px;
            }
            &-btn {
                padding: 0 15px;
            }
        }
        &__links {
            margin-top: 60px;
        }
        &__bottom {
            margin: 50px 0 35px;
        }
    }
}
@media (min-width: $breakpoint-phone-large) and (max-width: $breakpoint-tablet) {
    .footer {
        padding: 100px 0 70px 0;
        margin-top: -50px;

        &__columns {
            flex-wrap: wrap;
        }
        &__column {
            width: 100%;
            order: 2;

            &:first-child {
                padding-right: 0;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;

                .footer__title {
                    display: none;
                }
            }
            &:last-child {
                order: 1;
                margin-bottom: 50px;

                .footer__title {
                    display: block;
                }
            }
        }
        &__title {
            margin: -3px 0 40px;
            font-size: 36px;
        }
        &__menus {
            width: auto;
            margin-bottom: 30px;
            display: flex;
            // &-column:nth-child(2) {
            //     margin: 0 35px;
            // }
        }
        &__socials {
            justify-content: center;
            margin-bottom: 30px;
        }
    }
}
@media (max-width: $breakpoint-phone-large) {
    .footer {
        padding: 80px 0 70px 0;
        background-image: url('~public/images/footer-bg-mob.svg');
        background-position-x: right;
        margin-top: -25px;

        &__columns {
            flex-wrap: wrap;
        }
        &__column {
            width: 100%;

            &:first-child {
                order: 2;
                padding-right: 0;

                .footer__title {
                    display: none;
                }
            }
            &:last-child {
                order: 1;
                margin-bottom: 50px;

                .footer__title {
                    display: block;
                }
            }
        }
        &__title {
            margin: 0 0 50px;
            font-size: 32px;
        }
        &__menus {
            margin-bottom: 30px;
            display: flex;

            // &-column:nth-child(2) {
            //     margin: 0 35px;
            // }
        }
        &__menu {
            &.menu {
                display: block;
                column-count: 2;
            }
        }
        &__socials {
            justify-content: center;
            margin-bottom: 30px;
        }
        &__restaurant {
            &-image {
                width: 200px;
                min-width: 200px;
                margin-right: 15px;
            }
            &-btn {
                padding: 0 15px;
            }
        }
        &__links {
            margin-top: 60px;
            justify-content: space-between;
        }
        &__link {
            margin-right: 5px;

            &-icon {
                width: 60px;
                margin-right: 10px;
            }
            &-title {
                font-size: 14px;
            }
            &-text {
                font-size: 13px;
            }
        }
        &__bottom {
            margin: 40px 0 25px;
        }
    }
}
@media (max-width: $breakpoint-phone-medium) {
    .footer {
        margin-top: 0;

        &__title {
            font-size: 28px;
        }
        &__menus {
            margin-bottom: 30px;
            display: block;

            // &-column:nth-child(2) {
            // margin: 0 15px;
            // }
        }
        &__socials {
            justify-content: center;
            margin-bottom: 30px;

            &-item {
                margin-right: 5px;

                span {
                    font-size: 55px;
                }
            }
        }
        &__restaurant {
            &-image {
                display: none;
            }
            &-buttons {
                margin-top: 15px;
            }
            &-btn {
                height: 40px;
                border-radius: 10px;
            }
        }
        &__links {
            margin-top: 30px;
            flex-direction: column;
        }
        &__link {
            margin-right: 0;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
            &-icon {
                width: 60px;
                margin-right: 10px;
            }
            &-title {
                font-size: 16px;
            }
            &-text {
                font-size: 14px;
            }
        }
        &__bottom {
            margin: 30px 0 25px;
        }
    }
}

.coockieConfirm {
    padding: 20px;
    position: fixed;
    font-size: 12px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 3000;
    color: #444;
    background: white;
    gap: 5px;
    .confirmMoreBtn {
        color: #3598db;
        margin-left: 5px;
        cursor: pointer;
    }
    .containerConfirm {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
    }
    .confirmBtn {
        background: var(--primary);
        padding: 10px;
        border-radius: 5px;
        color: white;
        display: flex;
        align-items: center;
        white-space: nowrap;
        cursor: pointer;
        &:hover {
            background-color: var(--primary-light);
        }
    }
}
.confirmFon {
    display: none;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2300;
    .fon {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background: black;
        opacity: 0.5;
    }
    .confirmModal {
        padding: 50px;
        background: white;
        max-width: 500px;
        width: 100%;
        border-radius: 20px;
        position: relative;
        .closeBtb {
            position: absolute;
            top: 20px;
            right: 30px;
            cursor: pointer;
        }
        @media (max-width: 600px) {
            padding: 50px 20px;
        }
    }
}
.confirmFon.open {
    display: flex;
    animation: fadeIn 0.7s;
}

.confirmFon.open .confirmModal {
    opacity: 1;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
