.institution-info {
    width: 100%;

    &__map {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;

        /*[class*="ymaps-2-1"][class*="-ground-pane"] {
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
            -webkit-filter: grayscale(100%);
        }*/
    }
    &__inner {
        width: 100%;
    }
    &__block {
        width: 100%;
        border-radius: 90px;
        overflow: hidden;
        background-color: #9a9a9a;
        position: relative;
        min-height: 360px;

        .details {
            position: relative;
            z-index: 111;
            left: 60px;
            top: 60px;
            bottom: 60px;
            padding: 30px;
            width: 520px;
            border-radius: 40px;
            border: 1px solid #fff;
            background-color: rgba(0, 0, 0, 0.7);

            &__top {
                width: 100%;
                margin-bottom: 20px;

                &-phone {
                    color: #fff;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 120%;

                    span {
                        font-size: 20px;
                        color: #fff;
                        margin-right: 10px;
                    }
                }
                &-btn {
                    height: 30px;
                    padding: 0 20px;
                    border-radius: 12px;
                    border: 1px solid var(--primary);
                    color: #fff;
                    font-size: 12px;
                    font-weight: 500;
                    cursor: pointer;
                    &:hover {
                        background-color: var(--primary);
                        color: #fff;
                    }
                }
            }
            &__address {
                display: block;
                width: 100%;
                margin: 0;
                color: #fff;
                font-family: var(--font-druk-wide-cy);
                font-size: 22px;
                font-weight: 700;
                line-height: 120%;
                text-transform: uppercase;
            }
            .schedule {
                width: calc(100% + 4px);
                margin: 30px -2px 0 -2px;

                &__day {
                    width: calc(100% / 7);
                    padding: 0 2px;

                    &-inner {
                        width: 100%;
                        border-radius: 14px;
                        border: 1px solid rgba(255, 255, 255, 0.13);
                        background: linear-gradient(
                            113deg,
                            rgba(255, 255, 255, 0.15) 6.32%,
                            rgba(255, 255, 255, 0.03) 55.15%,
                            rgba(255, 255, 255, 0.1) 103.98%
                        );
                        backdrop-filter: blur(7px);
                        padding: 7px;

                        &.is-today {
                            background: var(--primary);

                            .schedule__day-line {
                                background-color: #fff;
                            }
                        }
                    }
                    &-title {
                        color: #fff;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 120%;
                        margin-bottom: 3px;
                        text-transform: capitalize;
                    }
                    &-time {
                        color: #fff;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 120%;
                    }
                    &-line {
                        display: block;
                        width: 14px;
                        height: 1px;
                        border-radius: 3px;
                        background-color: rgba(255, 255, 255, 0.2);
                        margin: 4px 0;
                    }
                }
            }
        }
        &-link {
            position: absolute;
            left: 30px;
            right: 30px;
            bottom: 30px;
            height: 66px;
            border-radius: 20px;
            border: 1px solid var(--primary);
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            display: none;

            &:hover {
                border-color: var(--primary-light);
            }
        }
        &-buttons {
            position: absolute;
            right: 60px;
            bottom: 60px;
        }
        &-btn {
            margin-bottom: 20px;
            z-index: 1;
            background: #fff;
            &:last-child {
                margin-bottom: 0;
            }
            &--bordered {
                height: 30px;
                padding: 0 15px;
                border-radius: 12px;
                border: 1px solid var(--primary);
                color: var(--primary);
                font-size: 12px;
                font-weight: 500;
                cursor: pointer;

                &:hover {
                    background-color: var(--primary);
                    color: #fff;
                }
            }
            &--primary {
                height: 60px;
                padding: 0 30px;
                border-radius: 20px;
                background-color: var(--primary);
                border: none;
                color: #fff;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;

                &:hover {
                    background-color: var(--primary-light);
                }
            }
        }
    }
}
@media (max-width: $breakpoint-big-desktop) {
    .institution-info {
        &__block {
            border-radius: 70px;
            min-height: 340px;

            .details {
                left: 50px;
                top: 50px;
                bottom: 50px;
                padding: 25px;
                width: 500px;
                border-radius: 35px;
            }
            &-buttons {
                right: 50px;
                bottom: 50px;
                position: absolute;
                z-index: 10;
            }
        }
    }
}
@media (max-width: $breakpoint-laptop) {
    .institution-info {
        &__block {
            margin-bottom: 25px;
            border-radius: 40px;
            min-height: 300px;

            .details {
                left: 30px;
                top: 30px;
                bottom: 30px;
                padding: 15px;
                width: 420px;
                border-radius: 25px;
            }
            &-buttons {
                right: 30px;
                bottom: 30px;
            }
            &-btn {
                &--primary {
                    height: 40px;
                    padding: 0 20px;
                    border-radius: 15px;
                }
            }
        }
    }
}
@media (max-width: $breakpoint-tablet) {
    .institution-info {
        &__block {
            margin-bottom: 20px;
            border-radius: 30px;
            min-height: 300px;

            .details {
                left: 20px;
                top: 20px;
                bottom: 20px;
                padding: 15px;
                width: 400px;
                border-radius: 20px;

                &__address {
                    font-size: 20px;
                }
            }
            &-buttons {
                right: 20px;
                bottom: 35px;
            }
        }
    }
}
@media (max-width: $breakpoint-phone-large) {
    .institution-info {
        &__block {
            border-radius: 25px;
            min-height: 300px;

            .details {
                left: 15px;
                top: 15px;
                right: auto;
                bottom: auto;
                padding: 15px;
                width: calc(100% - 30px);
                border-radius: 20px;

                &__top {
                    margin-bottom: 15px;
                }
                &__address {
                    font-size: 18px;
                }
                .schedule {
                    margin-top: 15px;
                }
            }
            &-link {
                display: flex;
            }
            &-buttons {
                right: 15px;
                bottom: 35px;
            }
            &-btn {
                margin-bottom: 10px;
            }
        }
    }
}
@media (max-width: $breakpoint-phone-medium) {
    .institution-info {
        &__block {
            border-radius: 15px;

            .details {
                left: 10px;
                top: 10px;
                right: auto;
                bottom: auto;
                padding: 10px;
                width: calc(100% - 20px);
                border-radius: 15px;

                &__top {
                    margin-bottom: 10px;

                    &-phone {
                        font-size: 14px;

                        span {
                            font-size: 18px;
                            margin-right: 10px;
                        }
                    }
                    &-btn {
                        height: 25px;
                        padding: 0 10px;
                        border-radius: 10px;
                        font-size: 11px;
                    }
                }
                &__address {
                    font-size: 16px;
                }
                .schedule {
                    margin-top: 10px;
                }
            }
            &-buttons {
                right: 10px;
                bottom: 35px;
            }
            &-btn {
                margin-bottom: 10px;
            }
        }
    }
}
