.main-banner {
    width: 100%;

    .container {
        max-width: 1600px;
        padding: 0;
    }
    &__inner {
        width: 100%;
        position: relative;
    }
    .swiper-wrapper {
        padding-bottom: 32px;
    }
    .swiper-pagination {
        bottom: 0 !important;

        .swiper-pagination-bullet {
            width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
            height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
            //background-color: #343434 !important;dark theme
            background-color: #5e4741 !important;

            &.swiper-pagination-bullet-active {
                width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 12px));
                height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 12px));
                background-color: var(--primary) !important;
            }
        }
    }
    &__slide {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 90px;
        overflow: hidden;

        &.loading {
            min-height: 622px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            background-size: cover;
            overflow: hidden;
        }
        &-content {
            width: 100%;
            min-height: 622px;
            background-color: rgba(0, 0, 0, 0.3);
            padding: 100px 165px;
        }
        &-info {
            width: calc(100% - 475px);
        }
        &-label {
            height: 30px;
            padding: 0 10px;
            border-radius: 10px;
            background-color: var(--white);
            color: #232323;
            font-size: 16px;
            font-weight: 500;
        }
        &-title {
            display: block;
            color: var(--white);
            font-family: var(--font-druk-wide-cy);
            font-size: 40px;
            font-weight: 700;
            line-height: 120%;
            text-transform: uppercase;
            margin: 25px 0;
            word-break: break-word;
            /*-webkit-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            hyphenate-limit-chars: 10 4 3;*/
        }
        &-buttons {
            width: 100%;
            margin-top: auto;
        }
        &-btn {
            height: 70px;
            padding: 0 25px;
            border-radius: 20px;
            color: var(--white);
            font-size: 16px;
            font-weight: 500;
            margin-right: 15px;
            cursor: pointer;
            text-align: center;

            &:last-child {
                margin-right: 0;
            }
            &--primary {
                border: 1px solid var(--primary);
                background-color: var(--primary);

                &:hover {
                    border-color: var(--primary-light);
                    background-color: var(--primary-light);
                }
            }
            &--border {
                border: 1px solid var(--white);
                background-color: var(--white);
                color: #232323;
            }
        }
        .slide-details {
            margin-left: 165px;
            margin-top: 20px;
            width: 310px;
            height: 100%;
            border-radius: 56px;
            background: linear-gradient(
                113deg,
                rgba(19, 19, 19, 0.74) 6.32%,
                rgba(0, 0, 0, 0.06) 55.15%,
                #1f1f1f 103.98%
            );
            padding: 30px;

            &__item {
                width: 100%;
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
                &-icon {
                    width: 88px;
                    min-width: 88px;
                    margin-right: 20px;
                }
                &-title {
                    color: var(--white);
                    text-shadow: 1.5px 1.5px 12px rgba(0, 0, 0, 0.45);
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 120%;
                }
            }
        }
        .invisible-image {
            opacity: 0;
        }
    }
    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        display: flex;
        z-index: 2;
        top: 50%;
        margin-top: -27px;
        cursor: pointer;
        width: 54px;
        height: 54px;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        align-items: center;
        justify-content: center;

        @include size-big-laptop {
            display: none;
        }
        svg {
            width: 20px;

            path {
                stroke: #fff;
            }
        }
        &:after {
            display: none;
        }
    }

    .swiper-button-next {
        left: auto;
        right: 55px;
    }

    .swiper-button-prev {
        left: 55px;
        right: auto;
    }
    .swiper-pagination {
        //position: static;
        margin-top: 10px;

        & :global(.swiper-pagination-bullet) {
            background-color: var(--brown);
            width: 8px;
            height: 8px;
            vertical-align: middle;
            margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px) !important;
        }

        & :global(.swiper-pagination-bullet-active) {
            background-color: var(--primary);
            width: 12px;
            height: 12px;
        }
    }
}
@media (max-width: $breakpoint-big-desktop) {
    .main-banner {
        &__slide {
            &.loading {
                min-height: 600px;
            }
            &-content {
                padding: 75px 8%;
                min-height: 600px;
            }
        }
        .swiper-button-next {
            right: 2%;
        }

        .swiper-button-prev {
            left: 2%;
        }
    }
}
@media (max-width: $breakpoint-desktop) {
    .main-banner {
        &__slide {
            border-radius: 80px;

            &.loading {
                min-height: 575px;
            }
            &-content {
                padding: 60px 75px;
                min-height: 575px;
            }
        }
        .swiper-button-next {
            right: 15px;
            width: 50px;
            height: 50px;
        }

        .swiper-button-prev {
            left: 15px;
            width: 50px;
            height: 50px;
        }
    }
}
@media (max-width: $breakpoint-big-laptop) {
    .main-banner {
        &__slide {
            border-radius: 70px;

            &.loading {
                min-height: 550px;
            }
            &-content {
                padding: 60px 30px;
                min-height: 550px;
            }
            .slide-details {
                &__item {
                    &-icon {
                        width: 80px;
                        min-width: 80px;
                    }
                }
            }
        }
    }
}
@media (max-width: $breakpoint-laptop) {
    .main-banner {
        &__slide {
            border-radius: 60px;

            &.loading {
                min-height: 500px;
            }
            &-content {
                padding: 50px 30px;
                min-height: 500px;
            }
            &-info {
                width: calc(100% - 410px);
            }
            &-title {
                font-size: 32px;
            }
            .slide-details {
                margin-left: 100px;

                &__item {
                    &-icon {
                        width: 70px;
                        min-width: 70px;
                    }
                }
            }
        }
    }
}
@media (max-width: $breakpoint-tablet) {
    .main-banner {
        &__slide {
            border-radius: 50px;

            &.loading {
                min-height: 425px;
            }
            &-content {
                padding: 35px 25px;
                min-height: 425px;
            }
            &-info {
                width: calc(100% - 315px);
            }
            &-title {
                font-size: 30px;
            }
            &-btn {
                padding: 0 15px;
                margin-right: 10px;
                height: 50px;
                font-size: 14px;
                border-radius: 15px;
            }
            .slide-details {
                margin-left: 35px;
                width: 280px;
                border-radius: 45px;
                padding: 25px;

                &__item {
                    &-icon {
                        width: 65px;
                        min-width: 65px;
                        margin-right: 15px;
                    }
                    &-title {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
@media (max-width: $breakpoint-phone-large) {
    .main-banner {
        &__slide {
            border-radius: 45px;

            &.loading {
                min-height: 400px;
            }
            &-content {
                padding: 30px 20px;
                min-height: 400px;
            }
            &-info {
                width: calc(100% - 215px);
            }
            &-label {
                height: 25px;
                padding: 0 10px;
                border-radius: 8px;
                font-size: 14px;
            }
            &-title {
                font-size: 22px;
                margin: 20px 0;
            }
            &-btn {
                padding: 0 15px;
                margin-right: 10px;
                height: 50px;
                font-size: 14px;
                border-radius: 15px;
            }
            .slide-details {
                margin-left: 15px;
                width: 200px;
                border-radius: 35px;
                padding: 20px 15px;

                &__item {
                    margin-bottom: 10px;

                    &-icon {
                        width: 50px;
                        min-width: 50px;
                        margin-right: 10px;
                    }
                    &-title {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media (max-width: $breakpoint-phone-medium) {
    .main-banner {
        &__slide {
            border-radius: 40px;

            &.loading {
                min-height: 500px;
            }
            &-content {
                padding: 25px 15px 10px 15px;
                min-height: 500px;
            }
            &-info {
                width: 100%;
            }
            &-label {
                height: 23px;
                padding: 0 10px;
                font-size: 12px;
            }
            &-title {
                font-size: 24px;
                margin: 25px 0;
            }
            &-btn {
                padding: 0 25px;
                margin-right: 10px;
                height: 60px;
                font-size: 14px;
                border-radius: 20px;
                margin-bottom: 15px;
            }
            .slide-details {
                display: none !important;
            }
        }
    }
}
@media (max-width: 400px) {
    .main-banner {
        &__slide {
            &-buttons {
                flex-direction: column;
            }
            &-btn {
                width: 100%;
            }
        }
    }
}

@media (max-width: 786px) {
    .main-banner {
        display: none;
    }
    .main-banner.mobile {
        display: block;
    }
}

@media (min-width: 786px) {
    .main-banner {
        display: block;
    }
    .main-banner.mobile {
        display: none;
    }
}
