.mobile-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #151515;
    display: none;
    z-index: 2050;
    border-top: 1px solid #1F1F1F;

    &__item {
        font-size: 28px;
        color: var(--white);
        padding: 0;

        &.is-active {
            color: var(--primary);
        }
        &.icon-cart {
            position: relative;
        }
        &-count {
            position: absolute;
            min-width: 15px;
            height: 15px;
            padding: 0 2px;
            top: -7.5px;
            right: -7.5px;
            border-radius: 7.5px;
            background-color: var(--primary);
            color: var(--white);
            font-size: 10px;
            font-weight: 500;
        }
    }
}
@media (max-width: $breakpoint-tablet) {
    .mobile-menu {
        display: flex;
    }
}
