.delivery-modal {
    width: 1085px;
    max-width: 100%;

    &__map {
        width: 400px;
        height: 400px;
        max-width: 100%;
        border-radius: 17px;
        overflow: hidden;
    }
    &__content {
        width: calc(100% - 400px);
        padding: 20px 30px 20px 50px;
    }
    &__fields {
        width: calc(100% + 15px);
        margin: 15px -7.5px 0 -7.5px;
    }
    &__field {
        width: 25%;
        padding: 0 7.5px;
        margin-bottom: 15px;

        &-inner {
            width: 100%;
            position: relative;
        }
        &-label {
            position: absolute;
            top: 6px;
            left: 0;
            width: 100%;
            padding: 0 15px;
            //color: #606060;dark theme
            color: #232323;
            font-size: 12px;
            font-weight: 400;
        }
        &-input {
            width: 100%;
            height: 52px;
            border-radius: 14px;
            //border: 1px solid #292929;dark theme
            border: 1px solid #E8DDDB;
            //background: #151515;dark theme
            background: #FFF;
            //color: #FFF;dark theme
            color: #232323;
            font-size: 16px;
            font-weight: 400;
            padding: 16px 15px 0 15px;
            transition: .3s linear all;

            &:focus,
            &:hover {
                outline: none;
                border-color: #B6ABA9;
            }
            &::placeholder {
                color: var(--white);
            }
        }
    }
    &__restaurants {
        width: 100%;
        margin-top: 20px;

        .restaurant {
            width: 100%;
            margin-bottom: 15px;
            position: relative;
            overflow: hidden;
            display: block;

            &__input {
                visibility: hidden;
                width: 0;
                height: 0;
                position: absolute;

                &:checked {

                    & + .restaurant__inner {
                        cursor: default;
                        //border-color: var(--primary);dark theme
                        background-color: #FFF;

                        .restaurant__inner-check {
                            border-color: var(--primary);
                            background-color: var(--primary);

                            span {
                                display: block;
                            }
                        }
                    }
                }
            }
            &__inner {
                width: 100%;
                padding: 12px 15px;
                border-radius: 14px;
                //border: 1px solid #292929;dark theme
                //background-color: var(--dark);
                background-color: #D8CECB;
                cursor: pointer;

                &:hover {
                    //border-color: #3D3D3D;dark theme
                    border-color: #FFF;
                }
                &-check {
                    width: 20px;
                    min-width: 20px;
                    height: 20px;
                    border: 1px solid #606060;
                    margin-right: 10px;

                    span {
                        font-size: 10px;
                        color: var(--white);
                        display: none;
                    }
                }
                &-info {
                    flex-grow: 1;
                }
                &-title {
                    //color: #FFF;dark theme
                    color: #232323;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 120%;
                    margin-bottom: 4px;
                }
                &-text {
                    color: #606060;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 120%;
                }
            }
        }
    }
}
@media (max-width: $breakpoint-tablet) {
    .delivery-modal {

        &__map {
            width: 350px;
        }
        &__content {
            width: calc(100% - 350px);
            padding: 20px 40px 20px 15px;
        }
    }
}
@media (max-width: $breakpoint-phone-large) {
    .delivery-modal {
        flex-wrap: wrap;
        padding-bottom: 40px;

        &__map {
            width: 100%;
            order: 2;
        }
        &__content {
            width: 100%;
            padding: 20px 10px 20px 10px;
        }
    }
}
@media (max-width: $breakpoint-tablet) and (-webkit-min-device-pixel-ratio: 0) {
    .delivery-modal {
        padding-bottom: 30px;
    }
}
@media (max-width: 450px) {
    .delivery-modal {

        &__field {
            width: 50%;
        }
    }
}
