@import "styles/mixins";

.modal {
    width: 980px;
    max-width: calc(100% - 20px);
    padding: 0;
}
.container {
    display: grid;
    grid-template-columns: auto auto 1fr;
    justify-content: center;
    position: relative;

    @include size-phone-large {
        grid-template-columns: 1fr;
        padding-bottom: 40px;
    }
}

.image {
    text-align: center;
    max-width: max-content;
    width: 100%;
    height: max-content;
    padding: 28px;
    position: sticky;
    top: 20px;

    @include size-phone-large {
        justify-self: center;
        padding: 0;
    }
}

.label {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;

    @include size-phone-large {
        top: 14px;
        left: 14px;
    }
}

.delimiter {
    flex-shrink: 0;
    width: 1px;
    height: calc(100% - 42px * 2);
    background-color: var(--pink);

    @include size-phone-large {
        width: 100%;
        height: 1px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    padding: 60px 40px 20px;

    @include size-phone-large {
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        margin-top: 0;
    }
}

.title {
    font-family: var(--font-gotham);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: var(--dark);

    @include size-phone-medium {
        font-size: 14px;
    }
}

.propertiesBox {
    position: relative;
}

.infoIcon {
    display: inline-flex;
    margin-left: 14px;
    color: var(--brown-100);
    cursor: pointer;

    &:hover {
        color: var(--brown);
    }
}

.infoIconOpen {
    color: var(--brown);
}

.weight {
    font-family: var(--font-gotham);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: var(--grey-semilighter);
    @include adaptive-font(12, 10);
}

.description {

    font-family: var(--font-gotham);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    font-feature-settings: "pnum" on, "lnum" on;

    color: var(--dark);

    @include adaptive-font(14, 12);
    max-width: 328px;
    width: 100%;

    @include size-phone-large {
        max-width: none;
    }
}

.modifiers {
    max-width: 163px;
    width: 100%;
    border: 1px solid var(--light-brown);
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 3px;
}

.addButton {
    width: 293px;
    height: 76px;
    border-radius: 14px;
    font-family: var(--font-gotham);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: var(--white);

    @include size-phone-large {

        width: 100%;
        //height: 30px;
        font-size: 12px;

        .content & {
            display: none;
        }
    }
}

.counterHolder {

    @include size-phone-large {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 5px;
        position: relative;

        .content & {
            display: none;
        }
    }
}


.stickyFooter {
    display: none;

    @include size-phone-large {
        //display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        bottom: 10px;
        left: 23px;
        right: 23px;
    }
}
