@import 'styles/mixins';

.modal {
    :global {
        border: 10px solid #ffffff !important;

        .modal-content {
            background: transparent !important;
        }
    }
}

.modalContainer {
    background: white;
    border-radius: 20px;
    max-width: 330px;
    margin: 0 auto;
    text-align: center;

    @include size-tablet {
        padding: 30px 20px;
        max-width: 90%;
        margin: 0 20px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

.title {
    font-family: var(--font-druk-wide-cy);
    font-weight: 1000;
    font-size: 16px;
    line-height: 1.2;
    text-align: left;
    color: #000;
    margin: 0 0 30px -30px;
    text-transform: uppercase;

    @include size-tablet {
        font-size: 18px;
        margin: 0 0 25px;
    }
}

.qrCodeContainer {
    width: 350px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0;
    margin: 0;

    @include size-tablet {
        width: 200px;
        height: 200px;
    }
}

.qrCode {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

