@import "styles/mixins";

.locationData {
    position: absolute;
    left: 40px;
    top: 40px;
    width: 305px;
    z-index: 0;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .07);
    border-radius: 7px;
    padding: 24px;

    @include size-phone-large {
        display: none;
    }
}

.blockHeader {
    font-weight: 400;
    margin-bottom: 8px;
}

.blockData {
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}

.workTimeRow {
    display: flex;
}

.blockDataDay {
    font-weight: 700;
    color: #000;
    width: 100px;
}

.blockDataTime {
    font-weight: 700;
    color: #000;
}
