@import "styles/mixins";

.locationData {
    display: none;

    @include size-phone-large {
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        background: rgba(0, 0, 0, .5);
        align-items: flex-end;
        justify-content: center;

        &.shown {
            display: flex;
        }
    }

    .invicibleCloser {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        cursor: pointer;
    }
}

.selectedLocation {
    padding: 24px;
    background: #fff;
    border-radius: 12px 12px 0 0;
    width: calc(100% - 20px);
    position: relative;
    z-index: 2;
}

.blockHeader {
    font-weight: 400;
    margin-bottom: 8px;
}

.blockData {
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}

.workTimeRow {
    display: flex;
}

.blockDataDay {
    font-weight: 700;
    color: #000;
    width: 100px;
}

.blockDataTime {
    font-weight: 700;
    color: #000;
}

.closer {
    position: absolute;
    top: 9px;
    right: 9px;
    cursor: pointer;

    svg {
        flex-shrink: 0;
        height: 16px;
        width: 16px;
    }
}
