@import "styles/mixins";

.modal {
    width: 700px;
    padding: 60px 60px 40px;
    text-align: center;
    color: #362e28;
    overflow: hidden;

    svg {
        flex-shrink: 0;
        width: 66px;
        height: 50px;
    }

    @include size-phone-large {
        padding: 48px 20px;
    }
}

.subTitle {
    font-size: 20px;
    line-height: 26px;
    margin-top: 18px;
    font-weight: 700;
    color: #232323;

    @include size-phone-medium {
        font-size: 14px;
        line-height: 22px;
    }
}

.buttons {
    margin-top: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

    :global(.ml-auto) {
        margin: 0 7px;
    }
}
