@import "styles/mixins";

/*
.holder {
    padding: 40px;
    border: solid 1px var(--primary);
    border-radius: 40px;
    margin-bottom: 40px;

    li {
        list-style: circle;
    }

    h2 {
        font-family: var(--font-druk-wide-cy);
        font-style: normal;
        font-weight: 400;
    }
}*/
