@import "styles/mixins";

.container {
    position: relative;
    display: block;
}

.input {
    width: 100%;
    height: 52px;
    border-radius: 14px;
    //border: 1px solid #292929;dark theme
    border: 1px solid #E8DDDB;
    //background: #151515;dark theme
    background: #FFF;
    //color: #FFF;dark theme
    color: #232323;
    font-size: 16px;
    font-weight: 400;
    padding: 16px 15px 0 15px;
    transition: .3s linear all;

    &:focus,
    &:hover {
        outline: none;
        //border-color: #3D3D3D;dark theme
        border-color: #B6ABA9;
    }
    &::placeholder {
        color: var(--white);
    }
}

.label {
    position: absolute;
    top: 6px;
    left: 0;
    width: 100%;
    padding: 0 15px;
    //color: #606060;dark theme
    color: #232323;
    font-size: 12px;
    font-weight: 400;
    line-height: 120%;
}

.dropdown {
    width: 100px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .15);
    z-index: 1;
    overflow: hidden;
}

.dropdownEmpty {
    padding: 16px;
}
.suggestion {
    display: flex;
    align-items: center;
    min-height: 56px;
    padding: 10px 15px;
    cursor: pointer;

    & + & {
        border-top: 1px solid var(--pink);
    }

    &:hover {
        background-color: var(--pink-light);
    }
}
