.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 55px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 22px;
}
