@import "styles/mixins";

$innerPadding: 20px;
$halfPadding: 10px;

.input {
    font-size: 18px;
    line-height: 20px;
    padding: $innerPadding;
    border-radius: 7px;
    outline: none;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    border: 2px solid #ebe1d5;
    color: #362e28;
    font-weight: bold;

    &:focus,
    &:active {
        border: 2px solid var(--primary);
    }

    &::placeholder {
        color: #988171;
        font-weight: normal;
    }
}

.disabled {
    background-color: var(--pink-light);
}

.error {
    border: 1px solid var(--primary);

    &:hover {
        border-color: var(--primary);
    }
    &::placeholder {
         color: var(--primary);
    }
}

.fullWidth {
    width: 100%;
}

.inputWrap {
    min-width: 120px;
}

.inputGroup {
    position: relative;
}

.innerControl {
    position: absolute;
    right: $halfPadding;
    top: $halfPadding;
    bottom: $halfPadding;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 $halfPadding;
    z-index: 2;
}

.subLine {
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: -15px;

    svg {
        margin-right: 8px;
    }

    span {
        font-size: 14px;
        line-height: 22px;
        font-weight: 500;
        color: #6a893e;
    }
}
.higherInput {
    //background: #0F0F0F;dark theme
    background: #FFF;
    //border: 1px solid #292929;dark theme
    border: 1px solid #E8DDDB;
    border-radius: 14px;
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: column;
    margin: 5px 5px 20px 5px;
    padding: 11px 15px 11px 15px;
    -moz-box-align: flex-start;
    align-items: flex-start;
    transition: .3s linear all;

    &:hover,
    &:focus {
        border-color: #B6ABA9;
    }
    @include size-tablet {
        margin: 5px 5px 15px 5px;
    }
    @include size-phone-medium {
        margin: 5px 5px 10px 5px;
    }
    &.error {
        border-color: var(--primary);

        &:hover {
            border-color: var(--primary);
        }
        &::placeholder {
            color: var(--primary);
        }
    }
    .higherLabel {
        font-family: var(--font-gotham);
        //color: #606060;dark theme
        color: #232323;
        font-size: 12px;
        font-weight: 400;
        line-height: 120%;
    }
    .input {
        width: 100%;
        height: 22px;
        margin-top: 6px;
        background: transparent;
        border: none;
        outline: none;
        font-family: var(--font-gotham);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        //color: #FFF;dark theme
        color: #232323;
        padding: 0;
        border-radius: 0;

        &::placeholder {
            display: none;
            color: transparent;
        }
    }
}
