@import "styles/mixins";

.modal {
    width: 700px;
    padding: 60px 60px 40px;
    text-align: center;
    color: #362e28;

    @include size-phone-large {
        padding: 48px 20px;
    }
}

.title {
    font-size: 36px;
    line-height: 34px;

    @include size-phone-medium {
        font-size: 22px;
    }
}

.subTitle {
    font-size: 20px;
    line-height: 34px;
    margin-top: 8px;
    margin-bottom: 15px;

    @include size-phone-medium {
        font-size: 14px;
        line-height: 22px;
    }
}
