@import 'styles/mixins';

.modal {
    width: 400px;
    padding: 20px 30px 30px 30px;
    color: var(--primary-text);

    @include size-phone-large {
        padding: 15px 10px 10px 10px;
    }
}

.title {
    font-family: var(--font-druk-wide-cy);
    font-size: 18px;
    line-height: 130%;
    text-transform: uppercase;
    font-weight: 700;
    //color: var(--white);dark theme
    color: #232323;
    padding-right: 36px;

    @include size-phone-large {
        font-size: 16px;
    }
}

.error {
    margin: 20px 0;
    color: var(--primary);
    font-family: var(--font-gotham);
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
}
.description {
    margin: 20px 0;
    color: #606060;
    font-family: var(--font-gotham);
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
}
