@import "styles/mixins";

.returnToList {
    color: var(--primary);
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

.promoImage {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 60px;

    @include size-phone-large {
        margin-top: 20px;
    }
}

.title {
    padding-top: 60px;
    margin-top: 0;
    margin-bottom: 14px;
    color: #362e28;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;

    @include size-phone-large {
        padding-top: 20px;
        font-size: 20px;
        line-height: 25px;
    }
}

.toMenuButtonHolder {
    margin: 25px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
