.contacts {
    display: inline-flex;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    a {
        display: flex;
        align-items: center;
    }

    svg {
        height: 20px;
        margin-right: 10px;
    }
}
