@import "styles/mixins";

.footerTop {
    padding: 30px 0;

    @include size-phone-large {
        width: 100%;
        min-width: 50%;
        padding: 0;
        margin-bottom: 15px;
        margin-top: auto;
    }
}

.cartFooter {
    z-index: var(--z-index-floating-footer);

    @include size-phone-large {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        padding: 0 20px;
        border-radius: 0;
    }
}

.footerWrapper {
    position: relative;

    @include size-phone-large {
        padding: 24px 0 80px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        section {
            width: 100%;
            padding: 0 15px;
        }
    }
}

.orderButton {
    @include size-phone-large {
        width: 175px;
        font-size: 15px;
        height: 46px;
        padding: 0;
    }
}
