@import 'mixins';

.d-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.d-inline-flex {
    display: inline-flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-column {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.justify-start {
    justify-content: flex-start;
}
.justify-end {
    justify-content: flex-end;
}
.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.circle {
    border-radius: 50%;
}
.circle-center {
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.block-center {
    align-items: center;
    justify-content: center;
}
.items-center {
    align-items: center;
}
.items-start {
    align-items: flex-start;
}
.items-end {
    align-items: flex-end;
}
.content-start {
    align-content: flex-start;
}
.content-center {
    align-content: center;
}
.content-end {
    align-content: flex-end;
}
.d-none-phone-large {
    @include size-phone-large {
        display: none !important;
    }
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.flex-column-phone-large {
    @include size-phone-large {
        flex-direction: column;
    }
}
.flex-column-phone {
    @include size-phone-medium {
        flex-direction: column;
    }
}
.align-items-center-phone-large {
    @include size-phone-large {
        flex-direction: column;
    }
}
.align-self-center {
    align-self: center;
}
.flex-phone-large-row {
    @include size-phone-large {
        flex-direction: column !important;
    }
}
.flex-2-3 {
    flex: 0 0 60%;
}
.fs-16 {
    font-size: 16px;
}
.fs-22 {
    font-size: 22px;
}
.fullWidth-phone-large {
    @include size-phone-large {
        width: 100% !important;
    }
}
.noPadding-phone-large {
    @include size-phone-large {
        padding: 0 !important;
    }
}
