@font-face {
    font-family: 'itle';
    src:  url('~fonts/Itle/itle.eot');
    src:  url('~fonts/Itle/itle.eot') format('embedded-opentype'),
    url('~fonts/Itle/itle.ttf') format('truetype'),
    url('~fonts/Itle/itle.woff') format('woff'),
    url('~fonts/Itle/itle.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'itle' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bag:before {
    content: "\e900";
}
.icon-bbq:before {
    content: "\e901";
}
.icon-bear:before {
    content: "\e902";
}
.icon-burger:before {
    content: "\e903";
}
.icon-burn:before {
    content: "\e904";
}
.icon-cake:before {
    content: "\e905";
}
.icon-calendar:before {
    content: "\e906";
}
.icon-car:before {
    content: "\e907";
}
.icon-angle-left:before {
    content: "\e908";
}
.icon-angle-right:before {
    content: "\e909";
}
.icon-angle-top:before {
    content: "\e90a";
}
.icon-angle-bottom:before {
    content: "\e90b";
}
.icon-angle-left-b:before {
    content: "\e90c";
}
.icon-angle-right-b:before {
    content: "\e90d";
}
.icon-angle-top-b:before {
    content: "\e90e";
}
.icon-angle-bottom-b:before {
    content: "\e90f";
}
.icon-check:before {
    content: "\e910";
}
.icon-check-circle-red .path1:before {
    content: "\e911";
    color: rgb(201, 17, 0);
}
.icon-check-circle-red .path2:before {
    content: "\e912";
    margin-left: -1em;
    color: rgb(201, 17, 0);
}
.icon-check-circle-red .path3:before {
    content: "\e913";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-check-circle-red-b .path1:before {
    content: "\e914";
    color: rgb(201, 17, 0);
}
.icon-check-circle-red-b .path2:before {
    content: "\e915";
    margin-left: -1em;
    color: rgb(201, 17, 0);
}
.icon-check-circle-red-b .path3:before {
    content: "\e916";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-circle:before {
    content: "\e917";
}
.icon-circle-b:before {
    content: "\e918";
}
.icon-check-circle:before {
    content: "\e919";
}
.icon-check-circle-black .path1:before {
    content: "\e91a";
    color: rgb(57, 57, 57);
}
.icon-check-circle-black .path2:before {
    content: "\e91b";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-credit-card:before {
    content: "\e91c";
}
.icon-diversity:before {
    content: "\e91d";
}
.icon-email:before {
    content: "\e91e";
}
.icon-fire:before {
    content: "\e91f";
}
.icon-whatsapp:before {
    content: "\e920";
}
.icon-vkontakte:before {
    content: "\e921";
}
.icon-halal:before {
    content: "\e922";
}
.icon-heart:before {
    content: "\e923";
}
.icon-instagram:before {
    content: "\e924";
}
.icon-like:before {
    content: "\e925";
}
.icon-list:before {
    content: "\e926";
}
.icon-lunch-box:before {
    content: "\e927";
}
.icon-meat:before {
    content: "\e928";
}
.icon-meat-grinder:before {
    content: "\e929";
}
.icon-medal:before {
    content: "\e92a";
}
.icon-minaret:before {
    content: "\e92b";
}
.icon-minus:before {
    content: "\e92c";
}
.icon-payment-method:before {
    content: "\e92d";
}
.icon-phone:before {
    content: "\e92e";
}
.icon-plus:before {
    content: "\e92f";
}
.icon-salad:before {
    content: "\e930";
}
.icon-soup:before {
    content: "\e931";
}
.icon-spaghetti:before {
    content: "\e932";
}
.icon-steak:before {
    content: "\e933";
}
.icon-telegram:before {
    content: "\e934";
}
.icon-vector:before {
    content: "\e935";
}
.icon-fork-knife:before {
    content: "\e936";
}
.icon-verification:before {
    content: "\e937";
}
.icon-wallet:before {
    content: "\e938";
}
.icon-close:before {
    content: "\e939";
}
.icon-youtube:before {
    content: "\e93a";
}
.icon-cart:before {
    content: "\e93b";
}
.icon-location:before {
    content: "\e93c";
}
.icon-location-black:before {
    content: "\e942";
}
.icon-user:before {
    content: "\e93d";
}
.icon-user-black:before {
    content: "\e943";
}
.icon-delivery:before {
    content: "\e93e";
}
.icon-kitchen:before {
    content: "\e93f";
}
.icon-bistro:before {
    content: "\e940";
}
.icon-logout:before {
    content: "\e941";
}
.icon-home:before {
    content: "\e944";
}
.icon-category:before {
    content: "\e945";
}
.icon-kitchen-color .path1:before {
    content: "\e946";
    color: rgb(255, 255, 255);
}
.icon-kitchen-color .path2:before {
    content: "\e947";
    margin-left: -1em;
    color: rgb(50, 50, 50);
}
.icon-delivery-color .path1:before {
    content: "\e948";
    color: rgb(255, 255, 255);
}
.icon-delivery-color .path2:before {
    content: "\e949";
    margin-left: -1em;
    color: rgb(50, 50, 50);
}
.icon-bistro-color .path1:before {
    content: "\e94a";
    color: rgb(255, 255, 255);
}
.icon-bistro-color .path2:before {
    content: "\e94b";
    margin-left: -1em;
    color: rgb(50, 50, 50);
}
.icon-insta-color .path1:before {
    content: "\e94c";
    color: rgb(24, 24, 24);
}
.icon-insta-color .path2:before {
    content: "\e94d";
    margin-left: -1.029296875em;
    color: rgb(255, 255, 255);
}
.icon-insta-color .path3:before {
    content: "\e94e";
    margin-left: -1.029296875em;
    color: rgb(255, 255, 255);
}
.icon-insta-color .path4:before {
    content: "\e94f";
    margin-left: -1.029296875em;
    color: rgb(255, 255, 255);
}
.icon-telegram-color .path1:before {
    content: "\e950";
    color: rgb(24, 24, 24);
}
.icon-telegram-color .path2:before {
    content: "\e951";
    margin-left: -1.029296875em;
    color: rgb(255, 255, 255);
}
.icon-vk-color .path1:before {
    content: "\e952";
    color: rgb(24, 24, 24);
}
.icon-vk-color .path2:before {
    content: "\e953";
    margin-left: -1.029296875em;
    color: rgb(255, 255, 255);
}
.icon-whatsapp-color .path1:before {
    content: "\e954";
    color: rgb(24, 24, 24);
}
.icon-whatsapp-color .path2:before {
    content: "\e955";
    margin-left: -1.029296875em;
    color: rgb(255, 255, 255);
}
.icon-whatsapp-color .path3:before {
    content: "\e956";
    margin-left: -1.029296875em;
    color: rgb(255, 255, 255);
}
.icon-youtube-color .path1:before {
    content: "\e957";
    color: rgb(24, 24, 24);
}
.icon-youtube-color .path2:before {
    content: "\e958";
    margin-left: -1.029296875em;
    color: rgb(255, 255, 255);
}
.icon-star:before {
    content: "\e959";
}
.icon-edit:before {
    content: "\e95a";
}
.icon-phone-map:before {
    content: "\e95b";
}
.icon-fork-knife1:before {
    content: "\e95c";
}
.icon-fork-knife2:before {
    content: "\e95d";
}
