@import "styles/mixins";

.modal {
    width: 480px !important;
    color: #362e28;
    position: absolute !important;
    right: 0;
    top: 0;
    min-height: 100vh !important;
    //bottom: 0;
    max-height: none !important;
    margin-bottom: 0;
    border-radius: 0 !important;
    padding: 0 0 20px 0 !important;

    @include size-phone-large {
        left: 0;
        width: 100% !important;
    }
}

.modalContainer {
    max-height: 100% !important;
    max-width: none !important;
}

.title {
    font-size: 36px;
    line-height: 34px;

    @include size-phone-medium {
        font-size: 22px;
    }
}
